html {
	background-color: #282e3e;
}

.phone {
	float: right;
}

.phone,
.email,
.phone-block p a {
	font-size: 16px;
	line-height: 1.56;
	letter-spacing: 1px;
	position: relative;

	&:before {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		top: 0;
		bottom: 0;
		left: -35px;
		margin: auto;
		background-repeat: no-repeat;
	}
}

.phone-block .columns,
.mail-block .columns {
	padding-left: 50px !important;
}

.phone-block p a {
	margin-right: 20px;
}

.email:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23E95E5E' fill-rule='nonzero' d='M3.5 14h13V6h-13v8zM3 15a.5.5 0 0 1-.5-.5v-9A.5.5 0 0 1 3 5h14a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5H3zm7.008-3.876a.564.564 0 0 1-.402-.118L5.737 7.967a.444.444 0 0 1-.04-.663.565.565 0 0 1 .749-.045L10 10.05l3.556-2.792a.565.565 0 0 1 .783.084.444.444 0 0 1-.075.624l-3.869 3.038a.563.563 0 0 1-.387.12z'/%3E%3C/svg%3E%0A");
}

.phone:before,
.phone-block p:first-child a:before {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cpath fill='%23E95E5E' fill-rule='evenodd' d='M16.3962571,13.2351275 L13.7224301,11.6629802 C13.7173029,11.6599009 13.6805277,11.6517242 13.6083042,11.6517242 C13.5107329,11.6517242 13.4362896,11.6800997 13.3869867,11.7223809 L12.5994992,12.5241275 C12.5175869,12.6060856 12.4232706,12.6568901 12.3144861,12.693231 C12.2255475,12.7228776 12.1533678,12.7395448 11.9686966,12.7298073 L11.7970595,12.6954292 C11.6273044,12.6615524 11.425252,12.5801426 11.1720054,12.450753 C10.9296607,12.3269334 10.6404883,12.1414702 10.2998106,11.8931668 C9.95353466,11.6406906 9.56655932,11.2946382 9.14366173,10.8618817 C8.70294091,10.430501 8.35922926,10.0454376 8.11134014,9.70315955 C7.86727723,9.36616458 7.68375196,9.07583416 7.56316199,8.83439864 C7.41399345,8.54655576 7.31486891,8.28207598 7.2593723,7.94338709 C7.2593723,7.8548377 7.2762909,7.77019743 7.30564746,7.68207856 C7.34180008,7.57356009 7.39263924,7.47909177 7.47453116,7.39715411 L8.1488786,6.72242996 C8.19857843,6.67270237 8.23018407,6.61317616 8.24720149,6.53229827 C8.2593141,6.47473123 8.25404814,6.43784887 8.22530609,6.38634333 L6.77322377,3.62634794 C6.74099351,3.57567209 6.70407763,3.53547649 6.6610579,3.50319366 C6.65680774,3.50000426 6.65679467,3.5 6.64463469,3.5 C6.61586566,3.5 6.59495567,3.50915323 6.55789662,3.54623298 L4.70845846,5.3957266 C4.66734419,5.43275012 4.62743384,5.48795113 4.59023895,5.56504071 C4.54766156,5.65328602 4.52186846,5.73500979 4.51605589,5.74020621 C4.51605589,5.77315775 4.51182892,5.85774449 4.50152473,6.0433234 C4.49465357,6.16707334 4.51037565,6.3617427 4.55116701,6.61887182 C4.59260733,6.88009168 4.67366617,7.20023954 4.79480639,7.57684977 C4.91386155,7.94697781 5.09542956,8.36653545 5.33990866,8.8338852 C5.58450405,9.30149818 5.91089875,9.81564175 6.31914687,10.3750983 C6.72427235,10.9302324 7.23881185,11.5160645 7.86732349,12.1360015 C8.65142004,12.9294731 9.38642361,13.5497082 10.0699186,13.996808 C10.7615349,14.449242 11.3749148,14.7858073 11.9076505,15.0067859 C12.4376791,15.2266519 12.8779647,15.3622116 13.2229315,15.4150206 C13.5895607,15.4711458 13.8509395,15.4987897 13.993713,15.4987897 C14.0515003,15.4987897 14.0955407,15.4970819 14.1227988,15.494364 C14.1844154,15.488064 14.1844154,15.488064 14.1845285,15.4899519 C14.2601785,15.4791482 14.3417268,15.4533773 14.4300845,15.4106831 C14.5068513,15.3736415 14.561948,15.3337493 14.618452,15.2721197 L16.4474298,13.4559525 C16.4890069,13.4143402 16.5021212,13.3863989 16.4998465,13.3427239 C16.4883172,13.3078601 16.4588493,13.2740523 16.3962571,13.2351275 Z M11.9931083,11.7148351 L12.0668936,11.7395448 C12.0170905,11.7395448 12.0046467,11.7424182 11.9979444,11.7446525 C11.9721385,11.7532733 11.9374053,11.7719827 11.88913,11.8203118 L11.9929626,11.714806 C11.9930112,11.7148157 11.9930598,11.7148254 11.9931083,11.7148351 Z M12.6981135,10.9982922 C12.9547881,10.7701688 13.2655281,10.6517242 13.6083042,10.6517242 C13.8481446,10.6517242 14.0589411,10.698593 14.233285,10.8033259 L16.9130417,12.3790907 C17.2177135,12.5678786 17.4186326,12.833214 17.4840929,13.1604978 L17.4896025,13.1938817 C17.5374305,13.5605074 17.4193117,13.89806 17.1534421,14.1641494 L15.3425012,15.961292 C15.2142766,16.1038434 15.0537188,16.2200937 14.8649069,16.3111993 C14.6869485,16.3971883 14.5070602,16.4540367 14.2552172,16.4849298 C14.2800775,16.4841581 14.2800775,16.4841581 14.2221641,16.489415 C14.1575036,16.4958624 14.082014,16.4987897 13.993713,16.4987897 C13.7877013,16.4987897 13.4847194,16.4667458 13.07161,16.4035052 C12.6368282,16.336947 12.1230289,16.1787531 11.5244974,15.9304708 C10.928913,15.6834226 10.262553,15.3177867 9.52248918,14.8336598 C8.7748548,14.3446041 7.98681063,13.6796105 7.16057515,12.8434374 C6.5001044,12.1920382 5.95035501,11.5661177 5.51136414,10.9645786 C5.07551457,10.3672975 4.72298518,9.81198604 4.45381709,9.29739542 C4.18448691,8.78253999 3.98069725,8.31163374 3.84284187,7.88305811 C3.70708783,7.46101528 3.61382556,7.09266911 3.56351793,6.77555399 C3.51256134,6.45434813 3.49158423,6.19461143 3.50306266,5.98788425 C3.51110807,5.84298602 3.51605589,5.74397436 3.52107562,5.66953422 C3.54694251,5.48836487 3.60372256,5.30846091 3.6895923,5.13048853 C3.78084455,4.94136042 3.89690571,4.78083331 4.0202208,4.67071777 L5.85059243,2.83932367 C6.07042764,2.61936565 6.3431111,2.5 6.64463469,2.5 C6.87101938,2.5 7.0820266,2.56884514 7.26127234,2.70335454 C7.40174851,2.80877053 7.52080415,2.93840345 7.63749332,3.12497619 L9.10352325,5.90827599 C9.2464522,6.16251384 9.28706021,6.44692868 9.22577446,6.73819861 C9.16939351,7.0061577 9.04502764,7.24038894 8.8561828,7.42933927 L8.28886927,7.99696971 C8.32455171,8.10787776 8.37911899,8.23557527 8.45435529,8.38083444 C8.55062665,8.57348471 8.7065688,8.82017963 8.92124564,9.11659917 C9.13205309,9.40767596 9.43971558,9.7523531 9.8509418,10.1550341 C10.2456396,10.5587714 10.5927251,10.8691524 10.8888869,11.0850894 C11.19057,11.3049716 11.4382406,11.4638172 11.6269841,11.5602506 C11.8049438,11.6511745 11.9330572,11.7028087 11.9929626,11.714806 L12.6981135,10.9982922 Z'/%3E%3C/svg%3E%0A");
}

.sendmail {
	color: #e95e5e !important;
	float: right;
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 1px;
}


.main-title {
	font-size: 30px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.33;
	letter-spacing: 2px;
	margin-bottom: 35px;
}

.main-descr {
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.88;
	letter-spacing: 1px;
	margin-bottom: 19px;
	padding-top: 0;
}

.download-btn {
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	display: block;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 3.69px;
	border: solid 1px #e95e5e;
}

table.header-btn {
	background-color: $black;
	margin: 0 0 7px 0;
	margin: 0 0 7px 0;
}

table.button.header-btn:hover table td {
	background-color: $black;
}

table.button.large.header-btn table a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 2.6px;
	text-align: center;
	color: #ffffff;
	text-transform: uppercase;
	border-radius: 10px;
	white-space: nowrap;
}

table.body-btn {
	// background-color: #f2f2f2;
	margin: 0 0 7px 0;
	margin: 0 0 7px 0;
	color: #009ee1;
}

table.button.body-btn:hover table td {
	// background-color: #f2f2f2;
}

table.button.large.body-btn table a {
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	letter-spacing: 2.6px;
	text-align: center;
	color: #009ee1;
	text-transform: uppercase;
	border-radius: 10px;
	white-space: nowrap;
}

table.button.body-btn:hover table tr td a,
table.button.body-btn:active table tr td a,
table.button.body-btn table tr td a:visited,
table.button.body-btn.tiny:hover table tr td a,
table.button.body-btn.tiny:active table tr td a,
table.button.body-btn.tiny table tr td a:visited,
table.button.body-btn.small:hover table tr td a,
table.button.body-btn.small:active table tr td a,
table.button.body-btn.small table tr td a:visited,
table.button.body-btn.large:hover table tr td a,
table.button.body-btn.large:active table tr td a,
table.button.body-btn.large table tr td a:visited {
	color: #009ee1;
}

.header-link a {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #ffffff;
	text-align: center;
}

table.menu th.menu-item {
	padding: 0;
}

.body-title {
	font-size: 30px;
	font-weight: bold;
	line-height: 60px;
	letter-spacing: 1.1px;
	color: #2e2f3d;
	margin-bottom: 20px;
	margin-bottom: 20px;
}

.body-text {
	color: #6f7588 !important;
}

.body-title-2 {
	font-size: 35px;
	line-height: 40px;
	letter-spacing: 1.8px;
	color: #2e2f3d;
}

.card-title {
	font-size: 18px;
	letter-spacing: 0.5px;
	text-align: center;
	color: #212121;
}

.card-price {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0.7px;
	text-align: center;
	color: #2e2f3d;
}


.card-btn {
	margin: 0 auto;
	Margin: 0 auto;
}

table.callout {
	margin-left: 20px;
	margin-right: 20px;
}

th.callout-inner {
	border: 0;
	border-radius: 10px;
	box-shadow: 10px 10px 20px 0 rgba(0, 158, 225, 0.27);
}

.footer-text {
	font-size: 14px;
	line-height: 25px;
	letter-spacing: 0.6px;
	text-align: center;
	color: #999999;
}

table.body  img.body-img-top {
	@media only screen and (max-width: 340px) {
		width: 308px;
	}
}
table.body  img.body-img-bottom {
	@media only screen and (max-width: 340px) {
		width: 308px;
	}
}
