<wrapper class="header">
	<container>
		<spacer size="50"></spacer>
		
		<row class="collapse">
			<columns small="4" large="2">
				<img
				height="20"
				width="200"
				src="http://emails.dev.func.ru/06-05-2019/logo-kl.png"
				alt="Логотип Karfidov Lab"
				/>
				<spacer size="20"></spacer>
			</columns>
			<columns small="4" large="6">
					<a class="phone" href="tel:+74953746820"> +7 (495) 374-68-20</a>
			</columns>
		</row>

		<spacer size="70"></spacer>

		<row>
			<columns>
				<p class="main-title">Техническое задание для «Карфидов Лаб»</p>
				<p class="main-descr">Здравствуйте, Аполлинарий Сергеевич!</p>
				<p class="main-descr">Недавно вы воспользовались конструктором технического задания на нашем сайте. Совсем скоро мы свяжемся с вами и обсудим все лично</p>
				<p class="main-descr">Для вашего удобства созданное вами техническое задание прикреплено к этому письму как вложение. Также его можно скачать по ссылке ниже.</p>
			</columns>
		</row>

		<spacer size="30"></spacer>

		<row>
			<columns small="8" large="4">
				<a class="download-btn" href="#">
					Скачать копию задания
				</a>
			</columns>
		</row>

		<spacer size="50"></spacer>

		<row>
			<columns small="8" large="8"> 
		 
				<p class="body-text">
					Если вы считаете, что получили это письмо по ошибке, просто проигнорируйте его.
				</p>
			</columns>
		</row>

		<spacer size="80"></spacer>

		<row class="mail-block">
			<columns small="5" large="4">
				<a class="email" href="mailto:info@karfidovlab.com"> info@karfidovlab.com</a>
				<spacer size="20"></spacer>
			</columns>
			<columns small="3" large="4" >
					<a class="sendmail" href="#"> Написать нам</a>
			</columns>
		</row>

		<spacer size="20"></spacer>

		<row class="phone-block">
			<columns>
				<p>
					<a class="main-descr" href="tel:+74953746820"> +7 (495) 374-68-20</a> Москва
				</p>
				<p>
					<a class="main-descr" href="tel:+73432436417"> +7 (343) 243-64-17</a> Екатеринбург
				</p>
				<p>
					<a class="main-descr" href="tel:+78123171762"> +7 (812) 317-17-62</a> Санкт-Петербург
				</p>
			</columns>
		</row>

		<spacer size="25"></spacer>

		<row>
			<columns>
					<menu>
						<item href="#">
							<img
								height="40"
								width="40"
								src="http://emails.dev.func.ru/06-05-2019/instagram.png"
								alt="instagram"
							/>
						</item>
						<item href="#">
							<img
								height="40"
								width="40"
								src="http://emails.dev.func.ru/06-05-2019/youtube.png"
								alt="youtube"
							/>
						</item>
						<item href="#">
							<img
								height="40"
								width="40"
								src="http://emails.dev.func.ru/06-05-2019/vk.png"
								alt="vkontakte"
							/>
						</item>
						<item href="#">
							<img
								height="40"
								width="40"
								src="http://emails.dev.func.ru/06-05-2019/fb.png"
								alt="fb"
							/>
						</item>
						<item href="#">
							<img
								height="40"
								width="40"
								src="http://emails.dev.func.ru/06-05-2019/fb.png"
								alt="behance"
							/>
						</item>
					</menu>
			</columns>
		</row>

		<spacer size="20"></spacer>

	</container>
</wrapper>
