---
subject: Закажи доставку на трибуну
---

<wrapper class="header">
  <container>
    <spacer size="20"></spacer>
    
    <row class="collapse">
      <columns small="8" large="2">
        <center>
          <img
          height="80"
          width="120"
          src="http://emails.dev.func.ru/06-05-2019/zenit-logo.png"
          alt="Логотип К Зенит"
          />
        </center>
        <spacer size="20"></spacer>
      </columns>
      <columns small="8" large="6" valign="middle" >
        <center>
          <menu class="header-menu">
            <item class="header-link" href="#">БИЛЕТЫ</item>
            <item class="header-link" href="#">МАТЧИ</item>
            <item class="header-link" href="#">ЗЕНИТ-ТВ</item>
          </menu>
        </center>
      </columns>
    </row>

    <spacer size="35"></spacer>

    <row>
      <columns>
        <img
          height="174"
          width="516"
          src="http://emails.dev.func.ru/06-05-2019/invalid-name.png"
          alt="Закажи 🍔🥤👕⚽ на трибуну!"
        />
      </columns>
    </row>

    <spacer size="31"></spacer>

    <row>
      <columns small="8" large="4">
        <a href="#">
          <img
            height="88"
            width="258"
            src="http://emails.dev.func.ru/06-05-2019/primary-app-button.png"
            alt="Скачать приложение"
          />
        </a>
      </columns>
    </row>

    <spacer size="42"></spacer>
  </container>
</wrapper>

<wrapper class="body-gray">
  <container>
    <spacer size="42"></spacer>
    
    <row>
      <columns small="8" large="8"> 
        <h2 class="body-title">
          Уважаемые болельщики!
        </h2>
     
        <p class="body-text">
          18&nbsp;ноября мы&nbsp;ждем вас на&nbsp;товарищеском матче &laquo;Зенит&raquo;&nbsp;&mdash; &laquo;Шальке &minus; 04&raquo; и&nbsp;предлагаем воспользоваться на&nbsp;стадионе &laquo;Санкт‑Петербург&raquo; новой услугой&nbsp;&mdash; доставкой еды и&nbsp;атрибутики из&nbsp;<a href="#">интернет‑магазина</a> прямо на&nbsp;ваше место!
        </p>
      </columns>
    </row>

    <spacer size="38"></spacer>
  </container>
</wrapper>

<wrapper>
  <container>
    <spacer size="55"></spacer>
    
    <row class="collapse">
      <columns>
        <img
          class="body-img-top"
          height="240"
          width="620"
          src="http://emails.dev.func.ru/06-05-2019/pic-1-2.jpg"
          alt="Как заказать? В мобильном"
        />
      </columns>
    </row>
  </container>
</wrapper>

<wrapper class="body-gray">
  <container>
    <row class="collapse">
      <columns class="body-columns-collapse">
        <img
          class="body-img-bottom"
          height="230"
          width="620"
          src="http://emails.dev.func.ru/06-05-2019/pic-1-1.jpg"
          alt="Как заказать? В мобильном"
        />
      </columns>
    </row>

    <spacer size="20"></spacer>

    <row>
      <columns small="4" large="4">
        <a href="#">
          <img
            height="60"
            width="195"
            src="http://emails.dev.func.ru/06-05-2019/google_play.png"
            alt="Доступно в Google Play"
          />
        </a>
      </columns>
      <columns small="4" large="4">
        <a href="">
          <img
            height="60"
            width="196"
            src="http://emails.dev.func.ru/06-05-2019/app_store.png"
            alt="Загрузите в App Store"
          />
        </a>
      </columns>
    </row>

    <spacer size="85"></spacer>

    <row>
      <columns>
        <h2 class="body-title-2">
          На сайте магазина ФК «Зенит»
        </h2>
      </columns>
    </row>

    <spacer size="12"></spacer>
    
    <row>
      <columns small="8" large="4">
        <a href="#">
          <img
            height="88"
            width="258"
            src="http://emails.dev.func.ru/06-05-2019/primary-button.png"
            alt="Заказать атрибутику"
          />
        </a>
      </columns>
    </row>

    <spacer size="48"></spacer>

  </container>
</wrapper>

<wrapper class="footer">
  <container>
    <spacer size="73"></spacer>

    <row>
      <columns>
        <img
          height="35"
          width="604"
          src="http://emails.dev.func.ru/06-05-2019/heading-txt.png"
          alt="Предложения на сегодняшний матч ⚽🏆🎽"
        />
      </columns>
    </row>

    <spacer size="52"></spacer>

    <row>
      <columns small="8" large="4">
        <callout>
          <img
            class="float-center"
            height="170"
            width="240"
            src="http://emails.dev.func.ru/06-05-2019/hat.jpg"
            alt=""
          />
          
          <h3 class="text-center card-title">
            Шапка детская
          </h3>
          <p class="text-center card-price">
            1000 руб.
          </p>
          <!-- <spacer size="30"></spacer> -->

          <a href="#">
            <center>
              <img
              height="88"
              width="258"
              src="http://emails.dev.func.ru/06-05-2019/button_order.png"
              alt="Заказать еду"
              />
            </center>
          </a>
        </callout>
      </columns>
      <columns small="8" large="4">
        <callout>
          <img
            class="float-center"
            height="170"
            width="240"
            src="http://emails.dev.func.ru/06-05-2019/hat.jpg"
            alt=""
          />
    
          <h3 class="text-center card-title">
            Шапка детская с очень длинным названием
          </h3>
          <p class="text-center card-price">
            1000 руб.
          </p>
          
          <a href="#">
            <center>
              <img
              height="88"
              width="258"
              src="http://emails.dev.func.ru/06-05-2019/button_order.png"
              alt="Заказать еду"
              />
            </center>
          </a>
        </callout>
      </columns>
    </row>
    
    <row>
      <columns small="8" large="4">
        <callout>
          <img
            class="float-center"
            height="170"
            width="240"
            src="http://emails.dev.func.ru/06-05-2019/hat.jpg"
            alt=""
          />
    
          <h3 class="text-center card-title">
            Шапка детская
          </h3>
          <p class="text-center card-price">
            1000 руб.
          </p>
          
          <a href="#">
            <center>
              <img
              height="88"
              width="258"
              src="http://emails.dev.func.ru/06-05-2019/button_order.png"
              alt="Заказать еду"
              />
            </center>
          </a>
        </callout>
      </columns>
      <columns small="8" large="4">
        <callout>
          <img
            class="float-center"
            height="170"
            width="240"
            src="http://emails.dev.func.ru/06-05-2019/hat.jpg"
            alt=""
          />
    
          <h3 class="text-center card-title">
            Шапка детская
          </h3>
          <p class="text-center card-price">
            1000 руб.
          </p>
          
          <a href="#">
            <center>
              <img
              height="88"
              width="258"
              src="http://emails.dev.func.ru/06-05-2019/button_order.png"
              alt="Заказать еду"
              />
            </center>
          </a>
        </callout>
      </columns>
    </row>

    <spacer size="17"></spacer>

    <row>
      <columns>
        <center>
          <menu>
            <item href="#">
              <img
                height="40"
                width="40"
                src="http://emails.dev.func.ru/06-05-2019/instagram.png"
                alt="instagram"
              />
            </item>
            <item href="#">
              <img
                height="40"
                width="40"
                src="http://emails.dev.func.ru/06-05-2019/youtube.png"
                alt="youtube"
              />
            </item>
            <item href="#">
              <img
                height="40"
                width="40"
                src="http://emails.dev.func.ru/06-05-2019/vk.png"
                alt="vkontakte"
              />
            </item>
            <item href="#">
              <img
                height="40"
                width="40"
                src="http://emails.dev.func.ru/06-05-2019/fb.png"
                alt="fb"
              />
            </item>
            <item href="#">
              <img
                height="40"
                width="40"
                src="http://emails.dev.func.ru/06-05-2019/tw.png"
                alt="twitter"
              />
            </item>
            <item href="#">
              <img
                height="40"
                width="40"
                src="http://emails.dev.func.ru/06-05-2019/telegram.png"
                alt="telegram"
              />
            </item>
            <item href="#">
              <img
                height="40"
                width="40"
                src="http://emails.dev.func.ru/06-05-2019/ok.png"
                alt="ok"
              />
            </item> 
          </menu>
        </center>
      </columns>
    </row>

    <spacer size="20"></spacer>

    <row>
      <columns>
        <center>
          <p class="footer-text">
            Вы&nbsp;получили это письмо, потому что подписались на&nbsp;рассылку на&nbsp;сайте <a href="#">fс-zenit.ru</a>. Если вы&nbsp;получили это письмо, проигнорируйте его. Чтобы отписаться, <a href="#">пройдите по&nbsp;ссылке</a>.
          </p>
        </center>
      </columns>
    </row>

    <spacer size="15"></spacer>

    <row>
      <columns>
        <center>
          <p class="footer-text">
            © 2019, Футбольный клуб «Зенит». Все права защищены.
          </p>
        </center>
      </columns>
    </row>

    <spacer size="50"></spacer>
  </container>
</wrapper>
